/dist/
**/_dist/
**/node_modules/
**/.turbo
**/.env
**/.DS_Store

/*.tar.zst
/*.tar.xz
/*.zip
/*.dmg

.idea/

/target/

vite.config.ts.timestamp-*

# Make dirs
/.dist/
/.cache/

# CI cache dirs
/.deno/
/.mozbuild/
