@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default, business --prefersdark;
}
@source ".";

/* DaisyUIプラグイン */
@layer base {
  :root {
    --link-text-color: #007aff;
  }
}

/* DaisyUIのテーマ設定 */
@layer theme {
  :root {
    --theme: lofi;
  }
  :root[data-theme="dark"] {
    --theme: business;
  }
}
