toolbaritem.unified-extensions-item[data-extensionid='firedragon-workspaces@firedragon.garudalinux.org'] {
    toolbarbutton.toolbarbutton-1[data-extensionid='firedragon-workspaces@firedragon.garudalinux.org'] {
        stack.toolbarbutton-badge-stack {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }
        label.toolbarbutton-text {
            display: block !important;
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
    }
}
